
.about-banner {
    color: #fff;
    height: 35rem;
    background-image: linear-gradient(to right, #f2709b25, #ff937225), url('./images/aboutpage-banner.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-banner h2 {
    font-size: 3.4rem;
    font-weight: 600;
}

.about-banner p {
    font-size: 1.8rem;
}

.breadcrumb {
    justify-content: center;
}

.breadcrumb-item {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #0fb7cb;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}

.breadcrumb-item.active {
    color: #fff;
}

.ab-section {
    padding: 6rem 10rem 20rem;
    position: relative;
}

.ab-section h2 {
    font-size: 3.6rem;
    font-weight: 600;
}

.ab-section p {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin: 20px 0 40px;
    color: #555;
    width: 95%;
}

.feature-box h4 {
    font-weight: 600;
    margin: 20px 50px;
    font-size: 1.7rem;
    color: #444;
}

.ab-section button {
    background-color: #0fb7cb;
    color: #ffff;
    border: none;
    border-radius: 4px;
    font-size: 1.3rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    margin-top: 30px;
}

.ab-img-box {
    position: relative;
    height: 100%;
}

.ab-img-1 {
    transform: scaleX(-1);
    height: 40rem;
    margin-left: auto;
}

.ab-img-2 {
    height: 18rem;
}

.ab-img-box-2 {
    position: absolute;
    border: 6px solid #fff;
    bottom: 2px;
    left: 2rem;
}

.ab-img-box-3 {
    background-color: #15395b;
    max-width: 26.5rem;
    color: #0fb8cb;
    position: absolute;
    right: 0;
    bottom: 8px;
    z-index: -1;
    padding: 10px 50px;
}

.ab-img-box-3 h4 {
    font-weight: 600;
    font-size: 1.6rem;
}

.nsle-section {
    position: relative;
    padding: 10rem 10rem 0;
    background-color: #eee;
}

.nsle-img-box {
    position: relative;
    bottom: 20rem;
}

.nsle-img {
    filter: brightness(.7);
}

.nsle-img-text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.nsle-img-text h4 {
    font-size: 2rem;
}

.nsle-img-text h1 {
    font-size: 4rem;
    margin: 20px auto 40px;
}

.nsle-img-text button {
    background-color: #0fb8cb;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    color: #fff;
}

.nsle-txt-box {
    position: relative;
    bottom: 10rem;
}

.nsle-txt-box p {
    font-size: 1.4rem;
    color: #555;
    font-family: 'Poppins', sans-serif;
}

.ab-icon-box {
    max-width: 90%;
    margin: 0 auto;
}

.ab-icon {
    background-color: #ddd;
    text-align: center;
    height: 15rem;
    padding: 2.2rem;
    border-radius: 4px;
    max-width: 15rem;
    margin: 13px auto;
}

.ab-icon img {
    width: 100px;
    margin: auto;
}

.ab-icon h6 {
    font-size: 1.7rem;
    line-height: 1.1;
    margin-top: 10px;
    color: #15395b;
    font-weight: 600;
}

.accordion h5 {
    font-size: 1.7rem;
    color: #15395b;
    font-weight: 600;
}

.accordion-box {
    max-width: 90%;
    position: relative;
    padding: 10px 0;
}

.accordion-box span {
    position: absolute;
    top: 10px;
    right: 0;
}

.accordion-body {
    font-family: 'Poppins';
    padding: 0;
    font-size: 1.3rem;
    max-width: 95%;
    margin: 5px 0;
    color: #666;
}


/*-----------Navbar Issue Fixed------------*/
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        margin: auto;
    }
}
/*---------------Media Queries----------- */

@media (max-width: 1200px) {

    .ab-section {
        padding: 6rem 7rem 20rem;
    }

    .ab-img-box-2 {
        display: none;
    }

    .ab-img-box-3 {
        display: none;
    }

    .ab-section h2 {
        font-size: 3rem;
    }

    .nsle-section {
        padding: 10rem 5rem 0;
    }

    .nsle-img-text h1 {
        font-size: 3.2rem;
    }

    .nsle-txt-box p {
        font-size: 1.3rem;
        line-height: 1.6;
    }
}

@media (max-width: 992px) {

    .feature-box h4 {
        margin: 20px 0;
    }

    .ab-section {
        padding: 6rem 7rem 15rem;
    }

    .ab-img-1 {
        margin: 40px auto;
    }

    .ab-icon {
        max-width: 30rem;
    }

    .ab-icon img {
        width: 11.5rem;
    }

    .ab-icon h6 {
        margin-top: 20px;
    }

    .nsle-img-text h1 {
        font-size: 2.6rem;
    }

    .nsle-img-text h4 {
        font-size: 1.8rem;
    }

    .nsle-txt-box p {
        font-size: 1.4rem;
        line-height: 1.7;
    }

    .testimonial-section {
        padding: 20px;
    }

    .nsle-txt-box h3 {
        font-size: 2rem;
    } 

    .ab-icon-box {
        margin: 50px auto;
    }
}

@media (max-width: 768px) {
    .nsle-txt-box p {
        font-size: 1.6rem;
    }
    .nsle-img-text {
        width: 40rem;
    }

    .nsle-img {
        filter: brightness(.5);
    }

}

@media (max-width: 768px) {
    .blog-thumbnail span {
        left: 10px;
    }
}

@media (max-width: 576px) {
    .ab-section {
        padding: 6rem 5rem 15rem;
    }

    .nsle-img-text h1 {
        font-size: 2.2rem;
    }

    .blog-thumbnail span {
        left: 0px;
    }
}

@media (max-width: 420px) {
    .ab-section {
        padding: 6rem 1rem 15rem;
    }

    .ab-section h2 {
        font-size: 2.2rem;
    }

    .ab-section p {
        font-size: 1.3rem;
    }

    .nsle-section {
        padding: 10rem 2rem 0;
    }

    .nsle-img-text {
        width: 90%
    }

    .top-banner {
        padding-bottom: 1rem;
    }

    .top-banner-cart-margin {
        margin: auto;
    }

    .top-banner-login {
        margin-left: 0;
    }

    .testimonial-section {
        padding: 0;
    }

    .blog-thumbnail span {
        left: -50px;
    }

    .nsle-img-text h1 {
        font-size: 1.7rem;
    }

    .nsle-img-text h4 {
        font-size: 1.4rem;
    }

    .nsle-img-text button {
        font-size: 1rem;
    }

    .nsle-txt-box p {
        font-size: 1.4rem;
    }

    .ab-img-1 {
        margin: 40px auto;
        width: 100%;
        max-height: 300px;
    }
}

